<div class="card" *ngFor="let item of tasks | async">
  <form (ngSubmit)="onSubmit(item)">
    <input
      #complete
      (change)="toggleIsComplete($event, item)"
      type="checkbox"
      id="isComplete"
      name="scales"
      [(ngModel)]="item.isComplete"
    />
    <label for="title-note"> title: </label>
    <input
      #title
      (keyup)="updateTitle(title.value, item)"
      type="text"
      id="title-note"
      [value]="item.title"
    />
    <br />
    <label for="title-content"> content: </label>
    <input
      #content
      (keyup)="updateContent(content.value, item)"
      type="text"
      id="title-content"
      [value]="item.content"
    />

    <input type="submit" value="Edit" />
    <button
      class="btn delete-btn"
      mat-raised-button
      color="primary"
      (click)="deleteTask(item.id)"
    >
      Delete
    </button>
  </form>

  <!-- <div class="title">
    <textarea class="title-textarea" name="title" id="title">
      {{ item.title }}
    </textarea>

    <input
      type="checkbox"
      id="isComplete"
      name="scales"
      [(ngModel)]="item.isComplete"
      (change)="toggleCheck(item)"
    />
  </div>
  <textarea
    class="content-textarea"
    name="content"
    id="content"
    cols="30"
    rows="10"
  >
    {{ item.content }}
  </textarea>

  <br />
  <button
    class="btn delete-btn"
    mat-raised-button
    color="primary"
    (click)="deleteTask(item.id)"
  >
    Delete
  </button>
  <button
    class="btn edit-btn"
    mat-raised-button
    color="primary"
    (click)="updateTask(item)"
  >
    Save edit
  </button>-->
</div>

<div>
  <br />
  <a class="nav-link" routerLink="/create-edit-task">[->] Create new task</a>

  <br />
  <button mat-raised-button color="primary" (click)="logOut()">Logout</button>
</div>
