.card {
  font-size: 16px;
  margin: 50px;
  background-color: antiquewhite;
  width: 50%;
  text-align: center;
  background-color: rebeccapurple;

  .title {
    font-size: 20px;
    background-color: yellowgreen;
  }

  .btn {
    margin-left: 20px;

    .delete-btn {
      color: red;
    }
    .edit-btn {
      color: rgb(233, 158, 47);
    }
  }
}
