<div class="creation-task-manu">
  Let`s create a new task, fill the next:
  <form class="creation-task-content">
    <label for="title-note">title:</label>
    <input
      #title
      (keyup)="updateTitle(title.value)"
      type="text"
      id="title-note"
      placeholder="enter a new title.."
      required
      autofocus
    />
    <br />
    <label for="content-note">content:</label>
    <input
      #content
      (keyup)="updateContent(content.value)"
      type="text"
      id="content-note"
      placeholder="enter a new content.."
      required
      autofocus
    />

    <input type="submit" value="Сreate" (click)="create()" />
  </form>
</div>

<a class="btn btn-back" routerLink="/tasks" routerLinkActive="active">Back</a>
